<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0.0</string>
	<key>ANILIST_CLIENT_ID</key>
	<string>$(ANILIST_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.axiel7.AniHyou</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>anihyou</string>
			</array>
		</dict>
	</array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AniHyou-Default</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AniHyou-Gray</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AniHyou-Gray</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AniHyou-Green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AniHyou-Green</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AniHyou-Orange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AniHyou-Orange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AniHyou-Pink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AniHyou-Pink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AniHyou-Purple</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AniHyou-Purple</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AniHyou-Red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AniHyou-Red</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
