<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANILIST_CLIENT_ID</key>
	<string>$(ANILIST_CLIENT_ID)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.axiel7.AniHyou.fetch_notifications</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.axiel7.AniHyou</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>anihyou</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>13.3</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
